@model IEnumerable<SimRend.Models.Solicitud>

@{
    ViewData["Title"] = "Busqueda";
}

<h3>Datos principales de la solicitud</h3>
<hr />


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaActual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicioEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaTerminoEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LugarEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Responsable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaActual)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Monto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreEvento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaInicioEvento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaTerminoEvento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LugarEvento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Responsable)
                    </td>
                </tr>
            }

        }

    </tbody>
</table>