@model SimRend.Models.ModeloSolicitud

@{
    ViewData["Title"] = "Resumen de Solicitud";
}

<h2>Resumen de Solicitud</h2>

<div class="contenedor_formulario">
    <div class="form">
        <div class="contenedor_input">
            <div class="control">
                <span>Nombre del evento</span>
                <input type="text" readonly="" class="" style="border:none; margin-top: 5px;" name="Nombre" value="@Html.DisplayFor(model => model.Solicitud.NombreEvento)">
            </div>

            <div class="control">
                <span>Lugar del evento</span>
                <input type="text" readonly="" class="" style="border:none; margin-top: 5px;" name="Nombre" value="@Html.DisplayFor(model => model.Solicitud.LugarEvento)">
            </div>

            <div class="control">
                <span>Monto solicitado</span>
                <input type="text" readonly="" class="" style="border:none; margin-top: 5px;" name="Nombre" value="@Html.DisplayFor(model => model.Solicitud.FechaInicioEvento)">
            </div>

            <div class="control">
                <span>Fecha de inicio del evento</span>
                <input type="text" readonly="" class="" style="border:none; margin-top: 5px;" name="Nombre" value="@Html.DisplayFor(model => model.Solicitud.FechaInicioEvento)">
            </div>

            <div class="control">
                <span>Fecha de término del evento</span>
                <input type="text" readonly="" class="" style="border:none; margin-top: 5px;" name="Nombre" value="@Html.DisplayFor(model => model.Solicitud.FechaTerminoEvento)">
            </div>

            <div class="control">
                <span>Responsable</span>
                <input type="text" readonly="" class="" style="border:none; margin-top: 5px;" name="Nombre" value="@Html.DisplayFor(model => model.Solicitud.NombreResponsable)">
            </div>
        </div>
    </div>
    





</div>
<div class="wrapperOrientacionBotonFormulario">
    <div class="wrapper wrapperBotonFormulario">
        @using (Html.BeginForm("GeneratePDF", "Solicitud", FormMethod.Get, new { @style = "border:none" }))
        {
            <button type="submit" class="buttonSecundary">VerPDF</button>
        }
    </div>
    <div class="wrapper wrapperBotonFormulario toggle">
        @using (Html.BeginForm("FinalizarSolicitud", "Solicitud", FormMethod.Get, new { @style = "border:none" }))
        {
            <button type="submit" class="buttonPrimary">Finalizar</button>
        }
    </div>
</div>


