@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;

<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>SimRend</title>

    <!-- vendor css -->
    <link rel="shortcut icon" href="~/img/favIcon1.png">
    <link href="~/lib/_fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/ionicons/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/lib/select2/css/select2-bootstrap4.min.css" rel="stylesheet" />

    <link href="~/lib/highlightjs/styles/github.css" rel="stylesheet" />
    <link href="~/css/perfect-scrollbar.min.css" rel="stylesheet" />
    <!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.7/css/perfect-scrollbar.min.css" /-->
    <link href="~/lib/datatables.net-dt/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css" rel="stylesheet" />
    <link href="~/css/toastr.css" rel="stylesheet" />

    <!-- Bracket CSS -->
    <link rel="stylesheet" href="~/css/bracket.css" />
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
</head>

<body>

    <!-- ########## START: LEFT PANEL ########## -->
    <div class="br-logo"><a href=""><span>[</span>Sim<i>Rend</i><span>]</span></a></div>
    <div class="br-sideleft sideleft-scrollbar">
        <label class="sidebar-label pd-x-10 mg-t-20 op-3">Navigation</label>
        <ul class="br-sideleft-menu">
            <li class="br-menu-item">
                <a id="resumenMenu" class="br-menu-link" asp-controller="Resumen" asp-action="Resumen">
                    <i class="menu-item-icon icon ion-ios-home-outline tx-24"></i>
                    <span class="menu-item-label">Resumen</span>
                </a><!-- br-menu-link -->
            </li><!-- br-menu-item -->
            <li class="br-menu-item">
                <a id="procesoMenu" class="br-menu-link" asp-controller="Proceso" asp-action="Procesos">
                    <i class="menu-item-icon icon fas fa-clipboard-list tx-24"></i>
                    <!--i class="menu-item-icon icon ion-ios-book-outline tx-24"></i-->
                    <span class="menu-item-label">Procesos</span>
                </a><!-- br-menu-link -->
            </li><!-- br-menu-item -->
            <li class="br-menu-item">
                <a id="ayudaMenu" class="br-menu-link" asp-controller="Ayuda" asp-action="Ayuda">
                    <i class="menu-item-icon icon ion-help-buoy tx-24"></i>
                    <span class="menu-item-label">Ayuda</span>
                </a><!-- br-menu-link -->
            </li><!-- br-menu-item -->
            <li class="br-menu-item">
                <a id="categoriasMenu" class="br-menu-link" asp-controller="Categoria" asp-action="Categoria">
                    <i class="menu-item-icon icon fas fa-tag tx-20"></i>
                    <span class="menu-item-label">Categorias</span>
                </a><!-- br-menu-link -->
            </li><!-- br-menu-item -->

            <li class="br-menu-item">
                <a href="#" id="usuarioMenu" class="br-menu-link with-sub">
                    <i class="menu-item-icon icon ion-person-stalker tx-24"></i>
                    <span class="menu-item-label">Usuarios</span>
                </a><!-- br-menu-link -->
                <ul class="br-menu-sub">
                    <li class="sub-item"><a id="administradoresMenu" asp-controller="Usuario" asp-action="UsuariosAdministradores" class="sub-link">Administradores</a></li>
                    <li class="sub-item"><a id="representantesMenu" asp-controller="Usuario" asp-action="UsuariosRepresentantes" class="sub-link">Representantes</a></li>
                    <li class="sub-item"><a id="directoresMenu" asp-controller="Usuario" asp-action="UsuariosDirectores" class="sub-link">Directores</a></li>
                    <li class="sub-item"><a id="vicerectoresMenu" asp-controller="Usuario" asp-action="UsuariosVicerectores" class="sub-link">Vicerectores</a></li>
                </ul>
            </li><!-- br-menu-item -->

            <li class="br-menu-item">
                <a id="campusMenu" class="br-menu-link" asp-controller="Campus" asp-action="Campus" title="Campus">
                    <i class="menu-item-icon icon fas fa-map-marked-alt tx-20"></i>
                    <span class="menu-item-label">Campus</span>
                </a><!-- br-menu-link -->
            </li><!-- br-menu-item -->

            <li class="br-menu-item">
                <a id="institucionMenu" class="br-menu-link" asp-controller="Institucion" asp-action="Institucion" title="Instituciones">
                    <i class="menu-item-icon icon fas fa-university tx-20"></i>
                    <span class="menu-item-label">Instituciones</span>
                </a><!-- br-menu-link -->
            </li><!-- br-menu-item -->

            <li class="br-menu-item">
                <a id="tipoOEMenu" class="br-menu-link" asp-controller="TipoOE" asp-action="TipoOE" title="Tipos de organización estudiantil">
                    <i class="menu-item-icon icon fab fa-hubspot tx-20"></i>
                    <span class="menu-item-label">Tipo O.E.</span>
                </a><!-- br-menu-link -->
            </li><!-- br-menu-item -->
            <li class="br-menu-item">
                <a id="organizacionEstudiantilMenu" class="br-menu-link" asp-controller="OrganizacionEstudiantil" asp-action="OrganizacionesEstudiantiles" title="Organizaciones estudiantiles">
                    <i class="menu-item-icon icon fas fa-sitemap tx-20"></i>
                    <span class="menu-item-label">O.E.</span>
                </a><!-- br-menu-link -->
            </li><!-- br-menu-item -->

        </ul><!-- br-sideleft-menu -->
        <br>
    </div><!-- br-sideleft -->
    <!-- ########## END: LEFT PANEL ########## -->
    <!-- ########## START: HEAD PANEL ########## -->
    <div class="br-header">
        <div class="br-header-left">
            <div class="navicon-left hidden-md-down"><a id="btnLeftMenu" href=""><i class="icon ion-navicon-round"></i></a></div>
            <div class="navicon-left hidden-lg-up"><a id="btnLeftMenuMobile" href=""><i class="icon ion-navicon-round"></i></a></div>
        </div><!-- br-header-left -->
        <div class="br-header-right">
            <nav class="nav">
                <div class="dropdown">
                    <a href="" class="nav-link nav-link-profile" data-toggle="dropdown">
                        <span class="logged-name hidden-md-down">@HttpContextAccessor.HttpContext.Session.GetString("Nombre")</span>
                        <img src="https://via.placeholder.com/500" class="wd-32 rounded-circle" alt="">
                        <span class="square-10 bg-success"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-header wd-250">
                        <div class="tx-center">
                            <a href=""><img src="https://via.placeholder.com/500" class="wd-80 rounded-circle" alt=""></a>
                            <h6 class="logged-fullname">@HttpContextAccessor.HttpContext.Session.GetString("NombreUsuario")</h6>
                            <p>
                                @HttpContextAccessor.HttpContext.Session.GetString("Cargo") - @HttpContextAccessor.HttpContext.Session.GetString("OE")
                                <br />
                                @HttpContextAccessor.HttpContext.Session.GetString("Email")
                            </p>
                        </div>

                        <hr>
                        <ul class="list-unstyled user-profile-nav">
                            <li><a href=""><i class="icon ion-ios-person"></i> Editar perfil</a></li>
                            <li><a asp-controller="Usuario" asp-action="Logout"><i class="icon ion-power"></i> Cerrar sesión</a></li>
                        </ul>
                    </div><!-- dropdown-menu -->
                </div><!-- dropdown -->
            </nav>
        </div><!-- br-header-right -->
    </div><!-- br-header -->
    <!-- ########## END: HEAD PANEL ########## -->
    <!-- ########## START: MAIN PANEL ########## -->

    <div class="br-mainpanel">
        @RenderBody()
        <footer class="br-footer">
            <!--div class="footer-left">
                <div class="mg-b-2">Copyright &copy; 2017. Bracket Plus. All Rights Reserved.</div>
                <div>Attentively and carefully made by ThemePixels.</div>
            </div>
            <div class="footer-right d-flex align-items-center">
                <span class="tx-uppercase mg-r-10">Share:</span>
                <a target="_blank" class="pd-x-5" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//themepixels.me/bracketplus/intro"><i class="fab fa-facebook tx-20"></i></a>
                <a target="_blank" class="pd-x-5" href="https://twitter.com/home?status=Bracket%20Plus,%20your%20best%20choice%20for%20premium%20quality%20admin%20template%20from%20Bootstrap.%20Get%20it%20now%20at%20http%3A//themepixels.me/bracketplus/intro"><i class="fab fa-twitter tx-20"></i></a>
            </div-->
        </footer>
    </div>
    <!-- ########## END: MAIN PANEL ########## -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <!--script src="https://code.jquery.com/jquery-1.11.3.min.js"></script-->

    <script src="~/lib/jquery-ui/ui/widgets/datepicker.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/lib/moment/min/moment.min.js"></script>
    <script src="~/lib/peity/jquery.peity.min.js"></script>

    <script src="~/lib/jquery.flot/jquery.flot.js"></script>
    <script src="~/lib/jquery.flot/jquery.flot.resize.js"></script>
    <script src="~/lib/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/lib/jquery-sparkline/jquery.sparkline.min.js"></script>
    <script src="~/lib/echarts/echarts.min.js"></script>

    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <!--script src="../lib/datatables.net-dt/js/dataTables.dataTables.min.js"></script-->
    <script src="~/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <!--script src="../lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js"></script-->

    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

    <script src="~/lib/jquery-ui/ui/widgets/datepicker.js"></script>
    <script src="~/lib/jquery-ui/ui/i18n/datepicker-es.js"></script>

    @RenderSection("Scripts", required: false)

    <script src="~/js/bracket.js"></script>
    <script src="~/js/ResizeSensor.js"></script>
    <script>
        $(function ()
        {
            'use strict'

            // FOR DEMO ONLY
            // menu collapsed by default during first page load or refresh with screen
            // having a size between 992px and 1299px. This is intended on this page only
            // for better viewing of widgets demo.
            $(window).resize(function ()
            {
                minimizeMenu();
            });

            minimizeMenu();

            function minimizeMenu()
            {
                if (window.matchMedia('(min-width: 992px)').matches && window.matchMedia('(max-width: 1299px)').matches)
                {
                    // show only the icons and hide left menu label by default
                    $('.menu-item-label,.menu-item-arrow').addClass('op-lg-0-force d-lg-none');
                    $('body').addClass('collapsed-menu');
                    $('.show-sub + .br-menu-sub').slideUp();
                } else if (window.matchMedia('(min-width: 1300px)').matches && !$('body').hasClass('collapsed-menu'))
                {
                    $('.menu-item-label,.menu-item-arrow').removeClass('op-lg-0-force d-lg-none');
                    $('body').removeClass('collapsed-menu');
                    $('.show-sub + .br-menu-sub').slideDown();
                }
            }
        });

        $/*(".br-sideleft-menu a").click(function ()
            {
                $('a').removeClass('active');
                $(this).addClass("active");
            });*/

        $(function ()
        {
            $('select').each(function ()
            {
                $(this).select2({
                    theme: 'bootstrap4',
                    //width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
                    placeholder: $(this).data('placeholder'),
                    allowClear: Boolean($(this).data('allow-clear')),
                });
            });
        });

        $(document).ready(function ()
        {
            //$('a').removeClass('active');
            var botonMenuActivo, botonSubMenuActivo;
            var controlador = window.location.pathname.split("/")[1];
            if (controlador === 'Resumen')
            {
                botonMenuActivo = '#resumenMenu';
            }
            else if (controlador === 'Proceso' || controlador === 'Solicitud' || controlador === 'Resolucion' || controlador === 'DeclaracionGastos')
            {
                botonMenuActivo = '#procesoMenu';
            }
            else if (controlador === 'Ayuda')
            {
                botonMenuActivo = '#ayudaMenu';
            }
            else if (controlador === 'Categoria')
            {
                botonMenuActivo = '#categoriasMenu';
            }
            else if (controlador === 'Usuario')
            {
                botonMenuActivo = '#usuarioMenu';
                var accion = window.location.pathname.split("/")[2];
                if (accion === 'UsuariosAdministradores' || accion === 'CrearUsuarioAdministrador' || accion === 'ActualizarUsuarioAdministrador')
                {
                    botonSubMenuActivo = '#administradoresMenu';
                }
                else if (accion === 'UsuariosRepresentantes' || accion === 'CrearUsuarioRepresentante' || accion === 'ActualizarUsuarioRepresentante')
                {
                    botonSubMenuActivo = '#representantesMenu';
                }
                else if (accion === 'UsuariosDirectores' || accion === 'CrearUsuarioDirector' || accion === 'ActualizarUsuarioDirector')
                {
                    botonSubMenuActivo = '#directoresMenu';
                }
                else
                {
                    botonSubMenuActivo = '#vicerectoresMenu';
                }
                $(botonSubMenuActivo).addClass('active');
            }
            else if (controlador === 'Campus')
            {
                botonMenuActivo = '#campusMenu';
            }
            else if (controlador === 'TipoOE')
            {
                botonMenuActivo = '#tipoOEMenu';
            }
            else if (controlador === 'Institucion')
            {
                botonMenuActivo = '#institucionMenu';
            }
            else if (controlador === 'OrganizacionEstudiantil')
            {
                botonMenuActivo = '#organizacionEstudiantilMenu';
            }
            $(botonMenuActivo).addClass('active');
        });
    </script>
</body>
</html>
