@model IEnumerable<SimRend.Models.Solicitud>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaActual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LugarEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Responsable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaActual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LugarEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Responsable)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
