@model SimRend.Models.ModeloResolucion

@{
    ViewData["Title"] = "Agregar Resolución";
}

<h2>Resumen Solicitud</h2>

<div class="contenedor_formulario">
    <div class="form">
        <div class="contenedor_input">

            <div class="control">
                <span><B>Nombre del evento: </B></span>
                @Html.DisplayFor(model => model.Solicitud.NombreEvento)
            </div>

            <div class="control">
                <span><B>Lugar del evento: </B></span>
                @Html.DisplayFor(model => model.Solicitud.LugarEvento)

            </div>

            <div class="control">
                <span><B>Fecha inicio del evento: </B></span>
                @Html.DisplayFor(model => model.Solicitud.FechaInicioEvento)
            </div>

            <div class="control">
                <span><B>Fecha término del evento: </B></span>
                @Html.DisplayFor(model => model.Solicitud.FechaTerminoEvento)
            </div>

            <div class="control">
                <span><B>Monto($): </B></span>
                @Html.DisplayFor(model => model.Solicitud.Monto)
            </div>

            <div class="control">
                <span><B>Responsable: </B></span>
                @Html.DisplayFor(model => model.Solicitud.NombreResponsable)
            </div>
        </div>
    </div>
</div>

<div>
    <h2>Información general de la Resolución</h2>
    @using (Html.BeginForm("AgregarResolucion", "Resolucion", FormMethod.Post, new { @style = "border:none" }))
    {
    <div class="contenedor_formulario">
        <div class="form">
            
            <div class="contenedor_input">

                <div class="control">
                    <span>Número de resolución</span>
                    <input asp-for="Resolucion.NumeroResolucion" class="" placeholder="Número de resolución" min="1" />
                </div>

                <div class="control">
                    <span>Año de la resolución</span>
                    <input asp-for="Resolucion.AnioResolucion" class="" placeholder="Año de la resolución" min="2000" />
                </div>

                <div class="control">
                    <span>Copia del documento</span>
                    <input asp-for="Resolucion.CopiaDocumento" type="file" class="" id="exampleInputFile" aria-describedby="fileHelp">
                </div>
            </div>  
        </div>
    </div>
    <div class="wrapperOrientacionBotonFormulario">
        <div class="wrapper wrapperBotonFormulario">
            <button class="buttonPrimary" type="submit" name="">Agregar</button>
        </div>

        @using (Html.BeginForm("IrPrincipal", "Resolucion", FormMethod.Get, new { @style = "border:none" }))
        {
            <div class="wrapper wrapperBotonFormulario">
                <button class="buttonSecundary" type="submit" name="">Cancelar</button>
            </div>
        }
    </div>
    }
</div>
